.box-decorate-medium{
    display: inline-block;
    position: relative;

    .fa-spin{
        position: absolute;
        margin-top: 10px;
        display: inline-block;
        margin-right: 7px;
        top: 14px;
        left: 50%;
        color: red;
    }
}


