.wrap{
    margin-top: 20px;
    background: #fff;
    padding: 50px 20px;
    border: 1px solid #dfdfdf;

    .logo{
        text-align: center;

        img{
            width: 200px;
        }
    }
}