#id{
    width: 5%;
}

//======== Start Update Now Table ========
.wp-list-table{
    .quick-edit{
        background-color: #dfdfdf !important;

        .msg{
            p{
                font-size: 14px;
                color: red;
                background-color: #fff;
                padding: 5px 10px;
                font-weight: bold;
                border: 1px solid red;
            }
        }
    }

    .tbl-loadding{
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        padding: 15px 0;
        color: #0073aa;
        background-color: #dfdfdf;

        span{
            position: relative;
            width: 27px;
            height: 15px;
            display: inline-block;

            &:before{
                top: 0px;
                left: 0;
                position: absolute;
                content: "\f463";
                color: #0073aa;
                margin-right: 5px;
                font: normal 20px/1 'dashicons';
            }
        }
    }

    .btn-clone{
        margin-right: 10px;
    }

    .inline-edit-legend{
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 15px;
        margin-top: 15px;
        font-weight: 500;
        width: 100%;
    }

    .inline-edit-save{
        display: inline-block;
        width: 100%;
        margin: 0;
    }

    .poka-row{
        .item{
            margin-bottom: 10px;

            &:last-child{
                margin-bottom: 0;
            }
        }

        .title{
            display: block;
            font-size: 13px;
            font-style: italic;
        }

        .data{
            display: block;

            input{
                border: 1px solid #dfdfdf;
                width: 100%;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;

                &:focus{
                    border: 1px solid #dfdfdf;
                }
            }
        }
    }

    .poka-row.left{
        width: 40%;
        display: inline-block;
    }

    .clear{
        clear: bottom;
    }
}
//======== End Update Now Table ========