$colorVang: #fed700;

.pagination{
    .page-numbers{
        background-color: $colorVang;
        padding: 5px 10px;
        color: #FFF;
        font-weight: bold;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;

        &:hover{
            background-color: #000;
            color: #ffffff;
        }
    }

    .current{
        background-color: #000;
        color: #ffffff;
    }
}

td.action{
    text-align: center;
    .button{
        background-color: $colorVang;
        color: #000;
        padding: 7px 13px;
        font-size: 13px;

        .fa{
            font-size: 12px;
        }

        &:hover{
            background-color: #000;
            color: #FFFFFF;
        }
    }

    .restore-remove-builder{
        margin-right: 5px;
    }
}

th.action{
    text-align: center;
}

.iart-tooltip {
    position: relative;
    display: inline-block;

    .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 150%;
        left: 50%;
        margin-left: -60px;
    }

    .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
    }

    &:hover{
        .tooltiptext {
            visibility: visible;
        }
    }
}